<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p id="userShowlink">
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>
<h6>
<%= link_to "New user", new_user_path %>
</h6>

</br>


<nav aria-label="Page navigation example">
  <ul class="pagination">
<%= paginate @users, window: 2 %>

</ul>
</nav>